<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <%- backendURL %>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<script>
  const backend_URL = <%- JSON.stringify(backendURL) %>;
</script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>